--- 
title: Activities 
layout: default 
---

<main role="main">
  <div class="container">
    {% include title-section.html %}

    <div class="bg-white">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <a href="workshops.html">Tuition Classes</a>
          </h2>
          <p>
            While I will teach by coming home to tuition students, I will also teach at my place if students numbers is near to make a group for tuition, even individual can come for 6th to 12th Class Maths, Science, Physics, Chemistry.

            I am also giving tuition to Students below class 6th in all subject including English, Hindi, Maths, Envirionment Science.
            <a href="mailto:sunilbishnoi29mr@gmail.com?subject=Tutor Up Jodhpur Tuition">send us an email</a>
            or simply shout up on
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd-737RZfH-LpKqNk0fZBFwDvPG8sWTvw-gOfEKWzApFag8qw/viewform?usp=pp_url">our Form Link.
            </a>
          </p>
        </div>
      </div>

   <!--    <div class="row">
        <div class="col-md-12">
          <h2>
            External Sites
          </h2>
          <p>
            There are plenty of places to go on the Internet to learn, practice, share and discover more about code, and quite often
            we get people attending who are working their way through resources they've found elsewhere on the web. The following
            are just a few of the ones we see people on, along with some we recommend you try.
          </p>
        </div>
      </div> -->

    <!--   <div class="row">
        <div class="col-md-12">
          <h3>
            Learning
          </h3>
        </div>
        {% include_relative learning.html %}
      </div> -->

      <div class="row">
        <div class="col-md-12">
          <h3>
            Practice
          </h3>
        </div>
        {% include_relative practice.html %}
      </div>
    </div>
  </div>
</main>
