--- 
title: Activities 
layout: default 
---

<main role="main">
  <div class="container">
    {% include title-section.html %}

    <div class="bg-white">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <a href="workshops.html">Tuition Classes</a>
          </h2>
          <p>
            Whilst most of our mentors help with whatever's going on that day, some prefer to prepare workshops and lead them over the
            course of an evening. If you have an idea for a workshop, either to attend or run,
            <a href="mailto:codeupmanchester@gmail.com?subject=CodeUp Manchester Workshop">send us an email</a>
            or simply shout up on
            <a href="https://join.slack.com/t/codeupmanchester/shared_invite/enQtMzI4OTYyOTg1NTU1LTAxODBiMzg1YjMxMzhjYmRlN2VjMmE1YTIwYmI2ZDQxZmZhODlhZTVlZWU4OTY3YTU0ZDE2YjQzNDgyMjRiYTU">our Slack channel</a>.
          </p>
          <p>
            Details of and resources for our past workshops can be found <a href="workshops.html">here</a>.
          </p>
        </div>
      </div>

<!--       <div class="row">
        <div class="col-md-12">
          <h2>
            External Sites
          </h2>
          <p>
            There are plenty of places to go on the Internet to learn, practice, share and discover more about code, and quite often
            we get people attending who are working their way through resources they've found elsewhere on the web. The following
            are just a few of the ones we see people on, along with some we recommend you try.
          </p>
        </div>
      </div> -->

<!--       <div class="row">
        <div class="col-md-12">
          <h3>
            Learning
          </h3>
        </div>
        {% include_relative learning.html %}
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>
            Practice
          </h3>
        </div>
        {% include_relative practice.html %}
      </div> -->
    </div>
  </div>
</main>
