--- 
title: Resources 
layout: default 
---

<main role="main">
  <div class="container">
    {% include title-section.html %}

   <div class="bg-white">
      <div class="row">

        <div class="col-md-12">

          <div class="row event-question">
            <div class="col-md-12">
              <h2>Key Features?</h2>
            </div>
            <div class="col-md-8">
              <img class="sub_we_bg" src="./Content/Key_Features.JPG" />
            </div>
          </div>
        <div class="col-md-10 resource-description">
           <div class="sub_all" style=" position:relative;">
            <img class="sub_we_bg" src="./Content/a_wechild.png">
          <div>
          <div style="width:1080px; height:480px; padding-top:150px;float:left;">
              <div style="width:750px;margin:0 auto;">
                  <div class="sub_we_top">
                      <div><span class="sub_we_topleft">WE PROVIDE  </span><span class="sub_we_topright">tuition services from TutorUp Jodhpur for all subjects.</span></div>
                 <div style="margin-top:20px; height:205px;">
                           <ul style="width:230px;float:left;">
                          <li><p style="margin-left: 100px;">5th to 10th Maths</p></li>
                          <li><p style="margin-left: 100px;">5th to 10th English</p></li>
                          <li><p style="margin-left: 100px;">Spoken English</p></li>
                          <li><p style="margin-left: 100px;">8th to 10th Science</p></li>
                          </ul>
                           <ul style="width:300px;float:left;">
                           <li><p style="margin-left: 100px;">11th Physics</p></li>
                          <li><p style="margin-left: 100px;">11th Chemisry</p></li>
                          <li><p style="margin-left: 100px;">11th Mathematics</p></li>
                           </ul>
                           <ul style="width:200px;float:left;">
                                <li><p style="margin-left: 100px;">12th Physics</p></li>
                           <li><p style="margin-left: 100px;">12th Mathematics</p></li>
                           <li><p style="margin-left: 100px;">12th Chemisry </p></li>
                         
                      </ul>


                 </div>
                      
                       </div>
                  <div class="clear"></div>
                   <!-- <div class="sub_we_botton" style="margin-top: 15px;">
                       <div>
                           <div style="width:70%; float:left;"><span class="sub_we_topleft">WE DON'T HAVE </span><span class="sub_we_topright">extra costs!</span>
                           <p style="font-family:'Open Sans'; font-size:18px; color:#733100; line-height:32px;">  No deposit. No registration fee. No materials fees.</p>   
                       </div>
                        <div style="width:30%; float:left; text-align:center; margin:0 auto; line-height:120px;">
                            <a class="botton_aboutus" href="IQEQ-Enquiry-Best-Education-Tuition-in-Singapore">GET A FREE TRIAL</a>
                        </div>
                   </div>
              </div>
          </div> -->
      </div>
              </div>
 <div class="clear"></div>
      </div>
      </div>
      </div>
      </div>

<!--       <div class="row">
        <div class="col-md-2 resource-box">
          <div class="text-center resource-icon">
            <a class="color-github" href="https://github.com/CodeUpManchester/" target="_blank">
              <span class="fab fa-4x fa-github"></span>
            </a>
          </div>
        </div>
        <div class="col-md-10 resource-description">
          <h4>
            <a href="https://github.com/CodeUpManchester/" target="_blank">GitHub</a>
          </h4>
          <p>
            Git is industry-leading version control software and is incredibly popular with professionals and hobbyists alike. CodeUp
            Manchester has a public GitHub repository where we encourage you to store any public projects you work on at
            CodeUp. We even run this web site direct from our GitHub repository.
          </p>
        </div>
      </div> -->
<!-- 
      <div class="row">
        <div class="col-md-2 resource-box">
          <div class="text-center resource-icon">
            <a class="color-slack" href="https://join.slack.com/t/codeupmanchester/shared_invite/enQtMzI4OTYyOTg1NTU1LTAxODBiMzg1YjMxMzhjYmRlN2VjMmE1YTIwYmI2ZDQxZmZhODlhZTVlZWU4OTY3YTU0ZDE2YjQzNDgyMjRiYTU"
              target="_blank">
              <span class="fab fa-4x fa-slack"></span>
            </a>
          </div>
        </div>
        <div class="col-md-10 resource-description">
          <h4>
            <a href="https://join.slack.com/t/codeupmanchester/shared_invite/enQtMzI4OTYyOTg1NTU1LTAxODBiMzg1YjMxMzhjYmRlN2VjMmE1YTIwYmI2ZDQxZmZhODlhZTVlZWU4OTY3YTU0ZDE2YjQzNDgyMjRiYTU"
              target="_blank">Slack</a>
          </h4>
          <p>
            CodeUp Manchester has a Slack workspace where you can chat, share files, ask questions and get help with problems in between
            Meetups. Follow the link to get an invitation.
          </p>
        </div>
      </div> -->
    </div>

    <!-- <div class="row">
      <div class="col-md-12">
        <h3>
          Integrated Development Environments (IDEs)
        </h3>
      </div>
      {% include_relative dev-env.html %}
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>
          Tools
        </h3>
      </div>
      {% include_relative tools.html %}
    </div> -->
  </div>
  </div>

</main>
