html {
    overflow-y: scroll;
}

.bg-info {
    background-color: rgb(52, 165, 218) !important;
} 

a {
    color: rgb(52, 165, 218) !important;
}

a.about-link {
    color: lightcyan !important;
}

a.about-link:hover {
    color: lightblue !important;
}

img#logo {
    margin-bottom: 1em;
}

img.muted {
    opacity: 0.15;
}

section.heading-container {
    width: 446px;
    height: 150px;
    margin-top: 2em; 
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div.logo-container,
div.title-container {
    left: 0;
    top: 0;
    width: 446px;
    height: 150px;
    position: absolute;
}

div.title-container {
    padding-top: 1em;
    z-index: 10;
}

div.weighted {
    display: flex;
    align-items: flex-end;
}

div.person-blurb {
    margin-bottom: 2em;
}

div.resource-box {
    margin-bottom: 1em;
}

div.resource-icon {
    padding-top: 1em;
    padding-bottom: 1em;
}

div.resource-description {
    margin-bottom: 2em;
}

h1.page-title {
    font-size: 4rem;
}

img.fit {
    width: 100%;
}

img.people {
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
    width: 100%;
}