<header>
  <div class="navbar navbar-light bg-light box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="index.html" class="navbar-brand d-flex align-items-center">
        <strong>CodeUp Manchester</strong>
      </a>
        <a href="about.html">The Event</a>
        <a href="people.html">The People</a>
        <a href="activities.html">Activities</a>
        <a href="resources.html">Resources</a>
        <a href="sponsors.html">Sponsors</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse bg-info" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">
            <a href="http://codeup.org.uk/" target="_blank" class="about-link">CodeUp</a>
            is the adult version of Code Club, providing free and friendly adult coding tuition.
          </p>
          <p class="text-white">
            The event is an open, friendly and supportive learning environment where anyone can learn or improve their digital skills
            for free.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li>
              <span class="text-white fas fa-sitemap"></span>
              <a href="http://codeup.org.uk/" target="_blank" class="text-white">CodeUp UK</a>
            </li>
            <li>
              <span class="text-white fab fa-meetup"></span>
              <a href="https://www.meetup.com/CodeUpManchester/" target="_blank" class="text-white">Meetup</a>
            </li>
            <li>
              <span class="text-white fab fa-slack"></span>
              <a href="https://join.slack.com/t/codeupmanchester/shared_invite/enQtMzI4OTYyOTg1NTU1LTAxODBiMzg1YjMxMzhjYmRlN2VjMmE1YTIwYmI2ZDQxZmZhODlhZTVlZWU4OTY3YTU0ZDE2YjQzNDgyMjRiYTU"
                class="text-white">Slack</a>
            </li>
            <li>
              <span class="text-white fab fa-twitter"></span>
              <a href="https://twitter.com/CodeUpUK" target="_blank" class="text-white">Twitter</a>
            </li>
            <li>
              <span class="text-white fas fa-envelope"></span>
              <a href="mailto:codeupmanchester@gmail.com?subject=CodeUp Manchester" class="text-white">Email Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>