<header>
  <div class="navbar navbar-light bg-light box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="index.html" class="navbar-brand d-flex align-items-center">
        <strong>TutorUp Jodhpur</strong>
      </a>
        <a href="about.html">About Us</a>
        <a href="people.html">The People</a>
        <a href="activities.html">Activities</a>
        <a href="resources.html">Resources</a>
        <a href="sponsors.html">Sponsored Schools</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse bg-info" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">
            <a href="https://tutorupjodhpur.github.io/index.html" target="_blank" class="about-link">Tutor Up Jodhpur</a>
            is the personnol tution/Coaching Institute providing Physics, Mathametics tuition from Class 8th to 12th.
          </p>
          <p class="text-white">
            The event is an open, friendly and supportive learning environment where anyone can learn or improve their subject skills.

          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li>
              <span class="text-white fas fa-sitemap"></span>
              <a href="https://tutorupjodhpur.github.io/index.html" target="_blank" class="text-white">TutorUp Jodupur</a>
            </li>
            <li>
              <span class="text-white fab fa-meetup"></span>
              <a href="https://chat.whatsapp.com/E8aiRcDGSCYDvKvh1Mp6an" target="_blank" class="text-white">WhatsApp Group</a>
            </li>
            <li>
              <span class="text-white fab fa-slack"></span>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSd-737RZfH-LpKqNk0fZBFwDvPG8sWTvw-gOfEKWzApFag8qw/viewform?usp=pp_url"
                class="text-white">Forms Fill</a>
            </li>
            <li>
              <span class="text-white fab fa-phone"></span>
              <a href="tel:+919166782883">target="_blank" class="text-white">Phone</a>
            </li>
            <li>
              <span class="text-white fas fa-envelope"></span>
              <a href="mailto:sunilbishnoi29mr@gmail.com?subject=TutorUp Jodhpur Tuition Query" class="text-white">Email Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
